{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/fontawesome/css/all.min.css' %}">
    <title>یادگیری زبان نتفلیکس |</title>
</head>
<body>
{% include 'account/partial/_navbar.html' %}
{% block body %}
{% endblock %}

<script src="{% static "account/js/jquery.min.js" %}"></script>
<script src='{% static 'account/js/popper.min.js' %}'></script>
<script src='{% static 'account/js/bootstrap.min.js' %}'></script>
{% block extra_script %}
{% endblock %}
</body>
</html>