{% extends 'account/base.html' %}
{% load static %}
{% load poll_extras %}
{% block body %}

    <div class="container text-center mt-5">
        <div class="mt-5 mb-5">
            <h2>{{ user }}</h2>
            <div class="border rounded mt-4">
{#                <div class="bg-info p-2"><span>لیست کاربرانی که شما معرف آنها بوده اید:</span></div>#}

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="bg-info p-2" scope="col">لیست کاربرانی که شما معرف آنها بوده اید:</th>
                    </tr>
                    </thead>
                    <tbody>
                   {% for user in user_presented %}
                        <tr>
                            <td>{{ user }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul class="list-group">

                </ul>
            </div>

        </div>

    </div>

{% endblock %}