{% extends 'account/base.html' %}
{% load static %}
{% load poll_extras %}
{% block body %}
<div class="container mt-4 rounded-lg p-2 border">
    <div class="bg-info p-2 rounded">
        <span class="text-right text-white font-bold">لیست کاربران</span>
    </div>
    <div class="p-2">
        <div class="action-btn mt-4 mb-4">
            <button class="fa fa-plus btn btn-primary"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></button>
            <button class="fa fa-trash btn btn-danger"></button>
            <button class="fa fa-edit btn btn-primary"></button>
        </div>
        <table class="table table-bordered table-striped rtl">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">شماره کاربر</th>
                <th scope="col">آدرس ایمیل *</th>
                <th scope="col">نوع کاربر</th>
                <th scope="col">نام - نام خانوادگی</th>
                <th scope="col">آخرین ورود</th>
                <th scope="col">تعداد ورود</th>
                <th scope="col">شهر نماینده</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td><input type="checkbox"></td>
                <th>{{ user.user.id }}</th>
                <td><a href="{{user.get_absolute_url}}">{{ user.user.email }}</a></td>
                <td>{% if user.user|has_group:"مدیر اصلی" %}مدیر اصلی{% endif %}</td>
                <td>{{ user.user.get_full_name }}</td>
                <td>{% if user.user.last_login %}{{ user.user.last_login }}{% endif %}</td>
                <td></td>
                <td>{% if user.city %}{{ user.city }}{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="mt-4 mb-2">
            <span class="text-sm">نمایش 1 تا {{users.count }} از مجموع {{ users.count }}</span>
        </div>

    <div class="bg-info rounded p-2"><span>* برای ورود به صفحه اختصاصی هر کاربر روی لینک آدرس ایمیل کاربر مورد نظر کلیک کنید.</span></div>


<!--        modal -->

<form method="post" class="form-register">
{% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ثبت نام کاربر</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              {{ form.email }}
              <div class="email_validation">
                  <span class="text-danger"></span>
              </div>
                {{form.password}}
              <div class="password_validation">
                  <span class="text-danger"></span>
              </div>
                {{form.re_password}}
              <div class="re_password_validation">
                  <span class="text-danger"></span>
              </div>
                {{form.first_name}}
                {{form.last_name}}
                {{form.groups}}
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-primary">ذخیره</button>
      </div>
    </div>
  </div>
</div>
</form>

    </div>
</div>

{% endblock %}
{% block extra_script %}
    <script src="{% static 'account/js/register_user.js' %}"></script>
{% endblock %}