.blog-link{

}
.blog-link img{
    width: 100%;
    height: 200px;
}
.blog-link p{
    font-family: yekan-edit, sans-serif;
    font-size: 12px;
}
div img{
    width: 100%;
    height: 600px;
}
.blog-header{
    font-family: yekan-edit, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
}
div h3, div p{
    font-family: yekan-edit, sans-serif;
    letter-spacing: 0;
}